@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    

    @apply font-inter;
}

.fg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    z-index: -1;

    background-color: #001E58;
    background-image: url('/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-nav-color {
    background-color: #001E58;
}

.m-container {
    min-height: calc(100vh - 120px);
}

.cbutton {
    min-width: 160px;
}